*.iml
*.o
*.pyc
*.swp
*.tmp
*~
.deps
.idea
.project
.pydevproject
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/py-compile
client/vdsClient
config.log
config.status
configure
doc/build

